body {
  font-weight: 100;
}

h1, h2, h3, h4 {
  font-weight: 100;
  margin: 20px 0;
}

section {
  margin: 50px 0
}

.coaster-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.coaster-card {
  padding: 0 50px;
  margin: 20px 0
}

.coaster-card h3 {
  font-size: 1.2em;
  margin: 5px 0;
}

.coaster-card p {
  font-size: .8em;
  margin-bottom: 0;
}


.coaster-card small {
  font-size: .7em;
}


.coaster-details img {
 width: 100% 
}